node_modules

.eslintrc.js

coverage/

package-lock.json

config.js

db/rawData/locationData/MariaCityData.txt
db/rawData/locationData/CassandraCityData.csv
db/rawData/propertyData/MariaPropertyData.txt
db/rawData/propertyData/CassandraPropertyData.csv
db/rawData/propertyData/CassandraPropertyDataByBeds.csv
db/rawData/propertyData/CassandraPropertyDataByPrice.csv
db/rawData/photoData/photos/
db/rawData/photoData/S3-picture-urls.txt